{% extends 'base_layout.html' %}
{% load static  i18n %}
 
{% block content %}

    <!-- About Start -->
    <div class="container-fluid p-5">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <h1 class="text-primary text-uppercase">Our Mission</h1>
                    <p>Empowering companies for <strong> science practices, </strong> and providing our clients with smart, innovative data and software solutions
                        that give them compatitive business advantage.</p>
                    <br/> 

                    <h1 class="text-primary text-uppercase">Our Vision</h1>
                    <p>Automate business processes, reduce production cost and leverage data insights to define business success.</p>
                    <br/>
                    <h1 class="text-primary text-uppercase">Our Core Values</h1>
                    <p>We uphold <strong> Diversity, Inclusion, Innovation, Transparency,Professionalism,Mutual Respect, Collaboration and a "Customer First" philosophy</strong>. 
                        These Core Values foster exceptional technology solutions delivery and drive our day-to-day operations. By creating a safe space, promoting innovative ideas and collaboration,
                        our team of experts takes responsibility of each action and produces extraordinary results, delivering solutions that add business values to our customers.  
                        </p>

                    <div class="rounded bg-dark p-5">
                        <ul class="nav nav-pills justify-content-between mb-3">
                            <li class="nav-item w-50">
                                <a class="nav-link text-uppercase text-center w-100 active" data-bs-toggle="pill" href="#pills-1">Do Business with Us</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-1">
                                <p class="text-secondary mb-0">In need of one or more of the services and/or products we offer, contact us with your need for a fruitful collaboration. 
                                    We iterate until you are satisfied.
                                </p>
                                <a href="{% url 'contact' %}" class="btn btn-primary py-md-1 px-md-5 me-3" style="float:right;height;0.2em;">Contact</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h1 class="display-3 text-uppercase mb-0">Welcome to B&P Data Consulting.</h1>
                </div>
                <h4 class="text-body mb-4">B&P Data Consulting believes in the power of data-driven decisions and in challenging the status quo.
                    We structure organizations for science practices, creating avenues for more exploration of
                   organizations' potentials and bringing business growth.  </h4>
                <p class="mb-4">We challenge the status quo by restructuring or replacing 
                    organizations' data architechture, designing contemporary data instrumentation procedures,
                    reshaping the data collection processes, and tailoring them to meet modern business needs.
                    We wrangle and preprocess both existing and newly collected company data, perform exploratory data analysis using cutting-edge technology,
                    and present results and recommendations in ways that drive key business decisions, culminating in more return on investment. B&P Data Consulting's team of experts
                    builds and delivers quality software, custom, fine-tuned Machine Learning (ML) and Artificial Intelligence (AI) models, and writes custom scripts that run 
                    efficiently (in terms of resource demand and time complexity). We beef up company security by <strong> installing AI powered video surveillance systems</strong> 
                    and networking company's gadgets in secured intranets that meet contemporary network security standards.</p>
                <p>
                    <strong>B&P Data Consulting</strong> is an innovation-driven company that empowers and supports organizations/companies
                    in diverse domains in navigating their digital transformation journery. We also provide specialized trainings on software engineering, data collection and processing 
                    methodologies and in developing Machine Learning and Artificial Intelligence solutions using state of the art technologies.  B&P Data Consulting 
                    gives companies a competitive business advantage by ensuring company processes and infrastructure are tailored for science practices. Through our training programs, we inculcate in company employees 
                    the ability to drive business growth by making extensive use of business data and data insights. We do not only collect data, explore them, present insights and recommendations in easy to understand ways, but we equally
                    build the capacity of our clients' employees to discover more business avenues from their data with the passage of time. 
                </p>
                <p><strong>B&P Data Consulting </strong>has extensive expertise in Data Architechture, Software Engineering, Data Analytics, and applies Machine Learning and Artificial Intelligence
                    in a collective manner to deliver enterprise solutions that address complex problems including <strong>humaniterian crises </strong>issues.
                </p>
                
            </div>
        </div>
    </div>
    <!-- About End -->

     <!-- Team Start -->
     <div class="container-fluid p-5">
        <div class="mb-5 text-center">
            <h5 class="text-primary text-uppercase">The Team</h5>
            <h1 class="display-3 text-uppercase mb-0">Our Steering Experts</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="team-item position-relative">
                    <div class="position-relative overflow-hidden rounded">
                        <img class="img-fluid w-100" src="{% static 'web/img/team11.jpg' %}"alt="">
                        <!--div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </!div-->
                    </div>
                    <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                        <h5 class="text-uppercase text-light">Isabel Stewart</h5>
                        <p class="text-uppercase text-secondary m-0">CEO and Managing Director</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item position-relative">
                    <div class="position-relative overflow-hidden rounded">
                        <img class="img-fluid w-100" src="{% static 'web/img/boris1.jpg' %}"alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a target="__blank"class="btn btn-light btn-square rounded-circle mx-1" href="https://twitter.com/boris_mikwa"><i class="fab fa-twitter"></i></a>
                                <a target="__blank"class="btn btn-light btn-square rounded-circle mx-1" href="https://www.facebook.com/profile.php?id=100078432876151&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                <a target="__blank"class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/boris-tamanjong-mikwa-9a3b0987/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                        <h5 class="text-uppercase text-light">Boris Mikwa</h5>
                        <p class="text-uppercase text-secondary m-0">Senior Data Scientist</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item position-relative">
                    <div class="position-relative overflow-hidden rounded">
                        <img class="img-fluid w-100" src="{% static 'web/img/team-3.jpeg' %}" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a target="__blank"class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a target="__blank"class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/pius-ngwa-64b35182/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                        <h5 class="text-uppercase text-light">Pius Ngwa</h5>
                        <p class="text-uppercase text-secondary m-0">Applied Scientist & AI Innovation Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item position-relative">
                    <div class="position-relative overflow-hidden rounded">
                        <img class="img-fluid w-100" src="{% static 'web/img/team-3.jpg' %}" alt="">
                        <!--div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a target="__blank" class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a target="__blank" class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a target="__blank" class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </!div>
                        </div-->
                    </div>
                    <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                        <h5 class="text-uppercase text-light">Innocent Ngaruye</h5>
                        <p class="text-uppercase text-secondary m-0">Director of AI Research and Training</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    
{% endblock %}
